<h2 style="text-align: center">Reset Password</h2>
<% if(typeof error != 'undefined'){ %>

<h3 style="color: red; text-align: center"><%= error %></h3>

<% } %>
<form
  style="
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  "
  action="/api/v1/reset-password?token=<%= resetData.token %>"
  method="post"
>
  <input type="hidden" name="user_id" value="<%= resetData.user_id %>" />
  <input
    type="password"
    required
    name="password"
    placeholder="Enter Password"
  />
  <br />
  <input
    type="password"
    required
    name="cpassword"
    placeholder="Enter Confirm Password"
  />
  <br />
  <input type="submit" name="submit" value="submit" />
</form>
